doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        p name: #{data.name}
        p roll: #{data.roll}
        p divition: #{data.dicition}
        p email: #{data.email}
        p sub: #{data.sub}
